body {
    font-family: 'Arial', sans-serif;
    background-color: #f2d49b; /* Light Gold */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.point-card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #c0a171; /* Dark Gold */
    border-radius: 8px;
}

#internal-development {
    background-color: #d4bf9d; /* Gold */
}

#identity-ideologies {
    background-color: #4d6273; /* Deep Brownish Gray */
}

#systemic-malfeasance {
    background-color: #944141; /* Dark Reddish Brown */
}

#transformative-mindset {
    background-color: #6e895a; /* Dark Greenish Brown */
}

h2 {
    color: #3a3a3a; /* Dark Gray */
}

a {
    text-decoration: none;
    color: #6e895a; /* Dark Greenish Brown */
    text-align: left;
}

.logo-container {
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    position: relative;
}

.logo {
    width: 30vw;
    display: block;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    text-align: left;
    list-style: none;
    font-weight: 500;
    width: 80vw;
}

h2 {
    color: #f2d49b; /* Light Gold */
}

p {
    width: 80vw;
    margin: 0 auto;
}
